*,
*::after *::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.background {
  background-image: url(../img/bcg.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  transition: 0.8s;
}
.logo:hover {
  color: #01813f;
}
.icon {
  fill: none;
  transition: fill 0.8s;
}
.icon:hover path {
  fill: #01813f;
}
.header {
  display: grid;
  grid-template-columns: 1fr 48px 47px 48px 230px;
  padding: 17px 52px 17px 79px;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_welcome {
  height: auto;
  margin: 0;
  padding: 2.5px 0 2.5px 27px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.login_button {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin: 0;
  transition: 0.8s;
}
.login_button:hover {
  color: #01813f;
  transition: 0.8s;
}
.signup_button {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  transition: 0.8s;
}
.signup_button:hover {
  color: #01813f;
  transition: 0.8s;
}
.reg_block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
  height: auto;
  width: 444px;
}
.login_box {
  margin: 31px auto 38px;
  width: 324px;
}
.box_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.signup {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin: 0;
}
.signup::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: -60px;
}
.green_text {
  color: #3cb878;
  transition: 0.8s;
}
.green_text:hover {
  color: #01813f;
  text-decoration: underline;
  transition: 0.8s;
}
.social_med {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.button_fb {
  width: 160px;
  background-color: #305db8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  transition: 0.8s;
}
.button_fb:hover {
  background: #022263;
  transition: 0.8s;
}
.button_ggl {
  width: 160px;
  background-color: #df4a32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  transition: 0.8s;
}
.button_ggl:hover {
  background: #ab1f09;
  transition: 0.8s;
}
.fb_logo {
  padding: 12px 17px;
}
.ggl_logo {
  padding: 14.5px 7px 14.5px 12px;
}
.social_name {
  width: 110px;
  padding: 7px 0;
  margin: 0;
  text-align: center;
  border-left: 1px solid rgba(10, 22, 47, 0.1);
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.separating {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
.separating p {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.separating p::before {
  display: block;
  width: 152px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
  top: 50%;
  right: 0;
}
.separating p::after {
  display: block;
  width: 152px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
  top: 50%;
  left: 0;
}
.agreement {
  font-size: 14px;
  line-height: 14px;
  color: #000;
}
.term_cond {
  color: #3cb878;
}
.form_item {
  width: 324px;
}
.input {
  font-size: 14px;
  line-height: 14px;
  width: 304px;
  padding: 15px 0 15px 20px;
  margin: 16px 0 0;
  text-align: left;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.input:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
}
.check_label {
  padding: 12px 8px 20px 2px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.agreement_link {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}
.checkbox {
  /*margin: 12px 8px 20px 2px;*/
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox + .check_label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox + .check_label:before {
  content: "";
  font-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.checkbox:checked + .check_label:before {
  background-image: url(../img/checkmark.png);
}
.create_button {
  width: 100%;
  border-radius: 4px;
  border: none;
  margin: 0;
  background-color: rgba(60, 184, 120, 0.8);
  padding: 16px 99px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  transition: 0.8s;
}
.create_button:hover {
  background: #01813f;
  transition: 0.8s;
}
