*,
*::after *::before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
html {
  height: 100%;
}
body {
  background-color: #000;
}
.container {
  perspective: 600px;
  width: 100%;
  height: 100%;
}
.text_block {
  width: 30%;
  height: 100px;
  margin: 30px auto;
  transform: rotateX(68deg);
  position: relative;
}
.text {
  color: #ffe81f;
  text-align: justify;
  font-size: 30px;
  position: absolute;
  top: 470px;
  animation-name: starwars;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes starwars {
  0% {
    position: absolute;
    top: 470px;
  }
  100% {
    position: absolute;
    top: -250px;
  }
}
.header {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.subtitle {
  text-align: center;
  font-weight: 700;
}
