*,
*::after *::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  max-width: 100%;
  margin: 0%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.0001);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.page_menu {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31.5px;
  margin-bottom: 31.5px;
  padding: 0;
  text-align: center;
}
.page_menu_item {
  display: inline-block;
  vertical-align: middle;
}
.page_menu_link1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #ff0000;
}
.page_menu_link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #ff0000;
  margin-left: 72px;
}
.banner {
  width: 100%;
  text-align: center;
}
.container {
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #373737;
}
.text_header {
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 38px;
}
.first_para {
  margin-bottom: 28px;
}
.second_para {
  margin-bottom: 0;
}
.btn {
  margin-top: 66px;
  margin-bottom: 42px;
  width: 191px;
  height: 51px;
  background: #ff0000;
  border-radius: 4px;
  border-style: none;
}
.btn_text {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.footer {
  margin: 40px auto 0;
  padding-bottom: 29px;
  padding-right: 38px;
}
.footer_text {
  color: #373737;
  text-align: right;
  font-weight: bold;
}
