*,
*::after *::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  min-width: 1200px;
}
.home {
  background: linear-gradient(
      rgba(100, 100, 100, 0.45),
      rgba(100, 100, 100, 0.45)
    ),
    url(../img/Sections_background/section-1header.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.header {
  width: 100%;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
  margin-bottom: 264px;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
}
.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_icon{
  filter: brightness(80%);
}
.navbar_list {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_letter {
  margin: 0;
  padding: 18px 13px;
  background-image: url(../img/Polygon.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 40px;
  font-weight: 700;
  line-height: 31px;
  color: #ffffff;
}
.logo_text {
  margin-left: 6px;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
.green_text {
  margin-left: 0;
  color: #18cfab;
}
.bold_text {
  font-weight: 700;
}

.navbar_item {
  margin-left: 21px;
}
.navbar_link {
  padding: 48px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.navbar_link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}
.home_text {
  text-align: center;
}
.page_title {
  margin: 0 auto 22px;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
}
.page_slogan {
  margin: 0 auto 22px;
  font-weight: bold;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
}
.page_subtitle {
  margin: 0 auto 130px;
  font-size: 34px;
  color: #d4d4d4;
}
.home_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 243px;
}
.green_button {
  display: inline-block;
  width: 168px;
  padding: 16px 0;
  background: #18cfab;
  margin-right: 13px;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0px -5px #ffffff;
}
.blue_button {
  width: 168px;
  padding: 16px 0;
  background: #00cbf6;
  margin-left: 13px;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0px -5px #ffffff;
}
.option {
  margin: 8px 0 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 377px;
  justify-items: center;
}
.option_item {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #1c2a33;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18cfab;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr;
  justify-items: center;
  align-items: end;
}
.option_item:nth-child(even) {
  background: #18cfab;
  color: #ffffff;
}
.option_icon {
}
.option_text {
  margin: 48px auto 110px;
}
.section_title {
  margin: 0 auto 100px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  position: relative;
}
.section_title::before {
  content: "";
  border-top: 1px solid #18cfab;
  width: 75px;
  position: absolute;
  top: 66px;
  left: 535px;
}
.section_title::after {
  content: "";
  border-bottom: 1px solid #18cfab;
  width: 75px;
  position: absolute;
  top: 70px;
  left: 546px;
}
.service_list {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(6, 195px);
  grid-template-rows: 76px;
  grid-gap: 0;
}
.service_item {
  background: #f8fcfe;
  border: 1px solid #edefef;
  font-size: 15.9859px;
  line-height: 39px;
  text-align: center;
  color: #717171;
  position: relative;
}
.service_item_name {
}
.service_item:hover {
  border: 1.5px solid #18cfab;
}
.active {
  background: #18cfab;
  color: #ffffff;
  border: 1.5px solid #18cfab;
}
.active:after {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  left: 88px;
  top: 60px;
  background: #18cfab;
  transform: rotate(45deg);
}
.service_content {
  display: none;
  grid-template-columns: 192px 1fr;
  grid-template-rows: 1;
  grid-column-gap: 15px;
  margin-bottom: 90px;
}
.service_text {
  margin: 0;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}
.call_to_action {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/Sections_background/section-2.jpg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  text-align: center;
  padding: 126px 0 127px;
}
.action_title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}
.action_subtitle {
  margin-bottom: 67px;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}
.amazing_work {
  padding: 96px 0 100px;
  margin-bottom: 82px;
  background: #e9edef;
}
.work_filter {
  margin: 0 auto 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_type {
  border: 1px solid #dadada;
  color: #717171;
  margin: 0;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 42px;
  cursor: pointer;
}
.work_type:first-child {
  margin: 0;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 42px;
}
.work_type_active {
  color: #18cfab;
  border: 1px solid #18cfab;
}
.work_list {
  margin: 0 auto 70px;
  width: 1140px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.work_item {
  position: relative;
  height: 211px;
}
.add_photo {
  position: relative;
  display: none;
}
.add_photo_sec {
  position: relative;
  display: none;
}
.work_item_info {
  background-color: rgba(233, 237, 239, 1);
  border-top: 3px solid #18cfab;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
}
.work_item_info:hover {
  opacity: 1;
}
.work_item_icons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chain_fig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5px;
  width: 41px;
  height: 40px;
  border: 1px solid #18cfab;
  border-radius: 30px;
  background: #e9edef;
}
.square_fig {
  margin-left: 1.5px;
  width: 41px;
  height: 40px;
  background: #18cfab;
  border-radius: 30px;
  position: relative;
}
.square_fig::before {
  content: "";
  width: 12px;
  height: 11px;
  background: #ffffff;
  position: absolute;
  left: calc(50% - (12px * 0.5));
  top: calc(50% - (11px * 0.5));
}
.work_item_title {
  margin: 28px auto 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
}
.work_item_subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
}
.load_more {
  margin: 0 auto;
  width: 168px;
  height: 63px;
  border: 0;
  background: #18cfab;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.news_list {
  display: grid;
  grid-template-columns: repeat(4, 263px);
  grid-template-rows: repeat(2, 281);
  column-gap: 35px;
  row-gap: 45px;
  margin-bottom: 128px;
}
.news_item {
  width: 263px;
  position: relative;
}
.news_item::before {
  content: "12 Feb";
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  padding: 7px 20px;
  width: 30px;
  height: 54px;
  color: #ffffff;
  background: #203e38;
  position: absolute;
  right: 0;
}
.news_title {
  text-align: left;
  padding-left: 20px;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 39px;
  color: #717171;
}
.news_item:hover .news_title {
  color: #18cfab;
}
.news_item:hover::before {
  background: #18cfab;
}
.news_info {
  padding: 5px 0 0 20px;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}
.news_author {
  margin: 0;
  padding-right: 10px;
  border-right: 1px solid #717171;
}
.news_comment {
  margin: 0;
  padding-left: 10px;
}
.quote_section {
  padding: 96px 0 100px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../img/Sections_background/section-3.jpg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 100%;
  margin-bottom: 100px;
}
.quote_block {
  display: none;
}
.block_active {
  animation-duration: 1s;
  animation-name: appear;
  display: block;
}
@keyframes appear{
  from{
opacity: 0;
  }
  to {
opacity: 100%;
  }
}

.quote_text {
  padding-top: 70px;
  margin: 0 auto 37px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  position: relative;
}
.quote_text::before {
  content: url(../img/Quotes.svg);
  width: 44px;
  height: 30px;
  color: #18cfab;
  position: absolute;
  top: 0;
  left: calc(50% - (44px * 0.5));
}
.quote_name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #18cfab;
}
.quote_prof {
  margin: 10px auto 38px;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #bbbbbb;
}
.quote_photo {
  border: 12px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}
.quote_scroll {
  width: 483px;
  margin: 70px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote_scroll_image {
  border: 4px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}
.image_active{
  border:4px solid rgba(0, 243, 123, 0.81);
}
.quote_scroll_button {
  background: rgba(0, 0, 0, 0.0001);
  border: 0px;
  cursor: pointer;
}
.button_active {
  position: relative;
  top: -15px;
}
.white_text {
  color: #ffffff;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  font-size: 30px;
  padding: 0 0 5px;
  color: #bbbbbb;
  border: 1px solid #bbbbbb;
  background: rgba(0, 0, 0, 0.0001);
  cursor: pointer;
}
.arrows:hover {
  background: #18cfab;
  color: #ffffff;
}
.gallery {
  margin-bottom: 50px;
}
.gallery_item{
  width: 378px;
  margin-bottom: 20px;
}
.hide_img{
  display: none;
}
.upper_layer {
  width: 378px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}
.bottom_layer {
  width: 378px;
  display: grid;
  grid-template-columns: 124px 119px 115px;
  grid-template-rows: repeat(3, 92px);
  grid-gap: 10px;
}
.upper_layer_block{
  position: relative;
}
.upper_layer_image{
  height: 100%;
}
.upper_layer_block:hover .upper_layer_image{
  filter:brightness(50%);
}
.upper_layer_search{
  border: none;
  background-color: #14B9D5;
  width: 27px;
  height: 27px;
  position: absolute;
  left: 20px;
  top:calc(50% - (27px * 0.5));
  display: none;
}
.upper_layer_block:hover .upper_layer_search{
  display: block;
}
.upper_layer_widen{
border: none;
  background-color: #14B9D5;
  width: 27px;
  height: 27px;
  position: absolute;
  left: 65px;
  top:calc(50% - (27px * 0.5));
  display: none;
}
.upper_layer_block:hover .upper_layer_widen{
  display: block;
}

.bottom_layer_block{
  position: relative;
}
.bottom_layer_image{
  height: 100%;
}
.bottom_layer_block:hover .bottom_layer_image{
  filter:brightness(50%);
}
.bottom_layer_search{
padding: 0;
  border: none;
  background-color: #14B9D5;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top:calc(50% - (20px * 0.5));
  display: none;
}
.bottom_layer_block:hover .bottom_layer_search{
  display: block;
}
.bottom_layer_widen{
  padding: 0;
border: none;
  background-color: #14B9D5;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 40px;
  top:calc(50% - (20px * 0.5));
  display: none;
}
.bottom_layer_block:hover .bottom_layer_widen{
  display: block;
}
.footer {
  margin-top: 65px;
  text-align: center;
  padding: 48px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  background: #22353f;
}
.rights {
  margin: 0;
}
.cross{
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
@keyframes rotation {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);
  width: 25px;
height: 25px;}
  100% {transform: rotate(360deg);
    width: 25px;
height: 25px
    }
}