*,
*::after *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  width: 1480px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  margin: 63px auto 0;
}
.logo_link {
  line-height: 0.9;
  font-size: 80px;
  text-align: center;
  color: #000;
}
.logo_second {
  color: #4bcaff;
}
.upper_menu {
  padding-left: 0;
  margin-top: 38px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 24px;
  background-color: #35444f;
}
.upper_menu_item {
  padding: 26px 33px 19px 33px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.upper_menu_item:hover {
  background: #222f3a;
}
.upper_menu_link {
  color: #ffffff;
}
button#changeTheme {
  background-color:#4bcaff;
}
.middle_part {
  display: flex;
  justify-content: center;
  margin: 48px 0 54px 0;
}
.side_menu {
  padding: 0;
  margin: 0 53px 0 0;
  list-style-type: none;
  height: min-content;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.side_menu_item {
  padding: 26px 80px 26px 40px;
  width: 220px;
}
.side_menu_link {
  font-size: 27px;
  text-decoration: none;
  color: #485863;
}
.side_menu_item:hover {
  background-color: #dbdbdb;
  text-align: center;
}
.side_menu .side_menu_item:hover .side_menu_link {
  color: #35444f;
}
.image_wrap {
  margin: 0;
  width: 885px;
  text-align: center;
  border: 1px solid #000000;
}
.image {
  width: 320px;
  height: 381px;
  padding: 75px 0 73px 0;
}
.image:hover {
  transition: 1.5s;
  transform: scale(1.15);
}
.text_block {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.upper_text {
  margin: 37px 0 34px 0;
}
.bottom_text {
  margin-bottom: 0;
}
.footer {
  padding-bottom: 30px;
}
.bottom_menu {
  margin: 0 auto;
  color: #000;
  padding-left: 30px;
  list-style-type: none;
  display: flex;
  font-size: 24px;
  background: rgba(99, 105, 110, 0.48);
}
.bottom_menu_item {
  padding: 20px 16px 21px;
  text-align: left;
}
.bottom_menu_link {
  padding-bottom: 13px;
  color: #000;
  font-size: 28px;
}
.bottom_menu_link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
.copyright {
  margin-left: auto;
  padding: 26px 25px 19px 25px;
  font-size: 24px;
  align-items: center;
  color: #010101;
}
