.body{
    text-align: center;
}
.field{
    display: grid;
    justify-content: center;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
}
.field_cell{
    border: solid 2px rgb(0, 87, 78);
    border-radius: 2px;
    background-color: rgb(133, 133, 0);
    width:40px;
    height: 40px;
    z-index: 3;
}
.clicked{
    background-color: beige;
    border-color: blanchedalmond;
}
.mine{
    background:red;
    border: solid 2px rgb(252, 131, 131);
}
.flag{
    background-color: white;
}
.container{
    display: flex;
    justify-content: center;
}
.new_game{
    margin: 15px auto 30px;
    text-transform: uppercase;
    width: 200px;
    font-size: 20px;
    padding: 5px 25px;
    background-color:rgb(135, 133, 5);
    color:rgb(63, 34, 12);
    border-radius: 10px;
}