*,
*::after *::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
.page_size {
  width: 1900px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
.menu {
  display: flex;
  justify-content: center;
}
.header {
  max-height: 70px;
  display: flex;
  background: #313131;
  justify-content: space-between;
  align-content: center;
}
.logo_title {
  display: flex;
  justify-content: center;
  align-content: center;
}
.header_logo {
  padding: 22px 27px 22px 29px;
  width: 27px;
  height: 27px;
}
.header_title {
  height: 26px;
  padding: 22px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}
.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu_item {
  margin: auto;
  padding-left: 35px;
}
.menu_item:first-child {
  padding-left: 0;
}
.menu_link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.menu_link:hover {
  color: #14b9d5;
}
.search_button {
  border: none;
  padding: 0;
  background-color: #000000;
}
.search_icon {
  width: 17px;
  height: 17px;
  margin: 27px 25px 26px 26px;
  background-color: #000000;
}
.news_banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../img/header-bg.jpeg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
.news_banner_title {
  padding: 164px 0 44px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
}
.buttons {
  display: flex;
  justify-content: center;
}
.left_button {
  width: 170px;
  text-align: center;
  margin: 0 10px 74px 0;
  padding: 16px 0 17px;

  color: #ffffff;
  background: #89ca62;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.right_button {
  width: 170px;
  text-align: center;
  margin: 0 0 74px 10px;
  padding: 16px 0 17px;

  color: #ffffff;
  background: #14b9d5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.post {
  background: #f2f2f2;
  padding-bottom: 42px;
}
.section_title {
  margin: 0;
  padding: 49px 0 52px;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
}
.post_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  max-height: 900px;
}
.post_item {
  margin: 0 15px 30px 15px;
  background-color: #fff;
}
.post_title {
  margin: 0 auto;
  padding: 20px 0 23px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
}
.client {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}
.section_title_big {
  padding: 108px 0 40px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.line {
  width: 60px;
  height: 3px;
  border: 0px;
  background-color: #18b4cf;
  margin-top: 47px;
}
.client_list {
  margin: 96px auto 0;
  list-style-type: none;
  display: grid;
  grid-template: "national_post dryme house_home journy";
  justify-content: center;
  align-content: center;
  grid-gap: 50px;
}
.client_logo:nth-child(1) {
  align-self: center;
  grid-area: national_post;
}
.client_logo:nth-child(2) {
  align-self: center;
  grid-area: dryme;
}
.client_logo:nth-child(3) {
  align-self: center;
  grid-area: house_home;
}
.client_logo:nth-child(4) {
  align-self: center;
  grid-area: journy;
}
.top_rated {
  background: rgba(0, 0, 0, 0.0001);
}
.top_rated_block {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(7, 271px);
}
.hot_news {
  width: 1168px;
  margin: 0 auto 75px auto;
}
.hot_news_block {
  max-width: 1168px;
  display: grid;
  justify-content: center;
  column-gap: 35px;
  row-gap: 42px;
  grid-template-areas:
    "prophecy prophecy prophecy nebula"
    "pyramid pyramid meadows meadows"
    "wanderlust wanderlust twin twin"
    "prism kings kings kings";
}
.hot_news_item {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot_news_item:first-child {
  grid-area: prophecy;
  display: flex;
}
.hot_news_item:nth-child(2) {
  grid-area: nebula;
  text-align: center;
}
.hot_news_item:nth-child(3) {
  grid-area: pyramid;
  margin-right: 12.5px;
}
.hot_news_item:nth-child(4) {
  grid-area: meadows;
  margin-left: 12.5px;
}
.hot_news_item:nth-child(5) {
  grid-area: wanderlust;
  margin-right: 12.5px;
}
.hot_news_item:nth-child(6) {
  grid-area: twin;
  margin-left: 12.5px;
}
.hot_news_item:nth-child(7) {
  grid-area: prism;
  text-align: center;
}
.hot_news_item:nth-child(8) {
  grid-area: kings;
  display: flex;
}
.horiz_news {
  padding: 29px 20px 0 4px;
  text-align: right;
}
.vertical_news {
  padding: 0 20px 0 4px;
  text-align: right;
}
.hot_news_title {
  margin: 12px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.hot_news_text {
  margin: 15px 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.footer {
  background: #000;
}
.footer_container {
  width: 1168px;
  margin: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}
.copyright {
  padding: 30px 0;
  justify-self: left;
  align-self: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #fff;
}
.footer_logo {
  justify-self: right;
  align-self: center;
}
