.container {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    background-color: antiquewhite;
}
.film-card {
    color:rgb(201, 131, 39);
    width: 80%;
    margin: 0 auto 20px;
}
.film-name{
    color:rgb(150, 201, 39);
    font-size: 30px;
    margin-left: 30px;
}
.film-actorList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.actor-name {
    margin-left: 5px;
    list-style-type: none;
}
/* .spinner {
    
    width: 1.5rem;
    height: 1.5rem;
    border-top-color: #444;
    border-left-color: #444;
  

    animation: spinner 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;  
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }
  

  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
   */
  