@import "../_abstracts/variables";
@import "../_abstracts/mixins";

.footer{
    background-color: #000;
    text-align: center;
    padding: 38px 0 47px;
    @media(min-width:$tablet-bp){
        padding: 57px 0 56px;
    }
    @media(min-width:$desktop-bp){
        padding: 66px 0 70px;
    }
}
.footer__title{
    @include font(700, 14px, 22px);
    color: #FEFEFE;
    text-transform: uppercase;
    margin: 0 auto 8px;
    @media(min-width:$tablet-bp){
        font-size: 16px;
        margin-bottom: 22px;
    }
}
.footer__text{
    max-width: 684px;
    margin: 0 auto 26px;
    @include font(400, 12px, 20px);
    color: $colorFooterText;
    @media(min-width:$tablet-bp){
        @include font(400, 16px, 28px);
        margin-bottom: 37px;
    }
}
.footer__social-icons-block{
display: flex;
justify-content: center;
column-gap: 6px;
margin-bottom: 25px;
@media(min-width:$tablet-bp){
    margin-bottom: 34px;
}
}
.footer__social-icon{
    cursor: pointer;
    width: 34px;
    height: 34px;
    border: 2px solid #F8902E;
    border-radius: 30px;
&:nth-child(2){
border-color:#39599F;
}
&:nth-child(3){
 border-color:#45B0E3;   
}
&:nth-child(4){
 border-color: #D97AB0;   
}
&:nth-child(5){
  border-color: #CC212C;  
}}
.icon-image{
    padding-top: 9px;
}
.footer__contacts{
    @include font(400, 14px, 24px);
    color: $colorFooterText;
    @media(min-width:$tablet-bp){
        display: flex;
    justify-content: center;
    column-gap: 10px;
        @include font(400, 16px, 26px);
    }
}
.footer__contacts-line{
    margin: 0;
    text-decoration: none;
    color: $colorFooterText;
}