
@import "../_abstracts/variables";
@import "../_abstracts/mixins";
.header{
  text-align: right;
  padding-top: 23px;
  @media (min-width:$tablet-bp){
    padding-top: 41px;
  }
  @media (min-width:$desktop-bp){
    padding-top: 45px;
  }
}
.header__menu-open-btn,.header__menu-close-btn{
  margin-bottom: 23px;
  @media(min-width:$tablet-bp){
    display: none;
  }
}
.drop-menu__block{
  width: 182px;
  position: absolute;
  right: 25px;
  top: 37px;
  background-color: $dropMenuBackground;
  z-index: 1;
}
.drop-menu__block-link{
  text-align: left;
@include font;
  color: #4E4E4E;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 6.5px 0 3.5px 14px;
    &:hover{
      background-color: #E5E5E5;
    }
}
.menu__block{
display: none;
  &-link{
    cursor: pointer;
    @include font;
  color: #4E4E4E;
  text-transform: uppercase;
  letter-spacing: 1.1px;

  }
  @media (min-width:$tablet-bp){
    padding: 0 50px;
    display: flex;
justify-content: space-around;
margin-bottom: 43px;

  }
  @media (min-width:$desktop-bp){
    padding: 0 100px;

  }
}
.link--active{
  color: #57A4A4;
}
.header__image{
  width: 100%;
  height: auto;
}