@import "../_abstracts/variables";
@import "../_abstracts/mixins";

.insta{
    padding: 38px 0 42px;
@media (min-width: $tablet-bp){
    padding: 47px 0 50px;
    background-color: rgba(0,0,0,0.03);
}
}
.insta__headings{
    @media (min-width: $tablet-bp){
        display: flex;
        justify-content: space-between;
    }
}
.insta__title{
    margin-top: 0;
    margin-bottom: 13px;
    @include font(700, 14px,22px);
    text-transform: uppercase;
    color: $titleFontColor;
    @media (min-width: $tablet-bp){
        font-size: 16px;
        margin-bottom: 35px;
    }
    @media (min-width: $desktop-bp){
        margin-bottom: 24px;
    }
}
.insta__subtitle{
    margin: 0;
display: none;
@media (min-width: $tablet-bp){
    margin-bottom: 35.5px;
        display: block;
        @include font(700, 13px,22px);
    text-transform: uppercase;
    color: $titleFontColor;
}
@media (min-width: $desktop-bp){
    margin-bottom: 24.5px;
}
}

.insta__image-block{
    @media (min-width: $tablet-bp){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 9px;
    }

    @media (min-width: $desktop-bp){
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        column-gap: 10px;
    }
}
.insta__image{
    
    width: 100%;
    @media (min-width:320px) and (max-width:$tablet-bp){
        max-width: 301px;
    }
    &:not(:nth-child(1)){
       display: none;
       @media (min-width: $tablet-bp){
        max-width: none;
        &:not(:nth-child(4)){
        display: block;}}
        @media (min-width: $desktop-bp){
            &:nth-child(4){
            display: block;
        }
    }
          
}}
