@import "../_abstracts/variables";
@import "../_abstracts/mixins";
.posts{
margin-bottom: 40px;
}
.posts__title{
    margin: 38px 0 23px;
@include font(700, 14px, 22px);
color: $titleFontColor;
text-transform: uppercase;
@media (min-width: $tablet-bp){
font-size: 16px;
margin: 56px 0 24px;
}
@media (min-width: $desktop-bp){
    margin-top: 66px;
}
}
.posts__grid{
    @media (min-width: $desktop-bp){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    }
}
.posts__block{
    @media (min-width: $tablet-bp){
        display: flex;
        margin-bottom: 32px;
    column-gap: 20px;
    }
    
}
.posts__block-info{

}
.posts__block-title{
    @include font(700, 14px, 30px);
    color: $titleFontColor;
    margin: 0;
    @media (min-width: $tablet-bp){
        font-size: 16px;
    }
}
.posts__block-source{
    @include font(400, 11px, 20px);
    color: $colorPostSubtitle;
    margin: 0 0 28px;
    @media (min-width: $tablet-bp){
        font-size: 12px;
        margin: 0 0 13px;
    }
}
.posts__block-text{
display: none;
@media (min-width: $tablet-bp){
    display: block;
@include font(400,14px,26px);
color: $colorPostText;
}
}