*{
    box-sizing: border-box;
}
.container {
    text-align: center;
}
.loader {
    width: 48px;
    margin: 40px auto;
    height: 48px;
    border: 5px solid rgb(22, 204, 255);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.post{
    text-align: left;
    width: 80%;
    margin: 15px auto 15px;
    padding: 5px;
    background-color: #ffffffdf;
    border-radius: 4px;
    border: 0;
    
}
.post-header{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.post-header--name{
    margin: 5px 0;
    font-size: 20px;
    font-weight: 700;
}
.post-btnDelete{
    color: rgb(255, 25, 25);
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 20px;
    border: solid 1px #ff7676;
    cursor: pointer;
}
.post-email{
    font-size: 15px;
   color: grey;
}
.post-title{
    font-weight: 700;
    margin-top: 10px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}
.post-text{
    margin-top: 10px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}