*,
*::after *::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
.wrapper {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../img/background.png);
  background-size: cover;
}
.container {
  width: 1023px;
  margin: 0 auto;
}
.header {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
}
.header_left {
  display: flex;
  align-items: flex-start;
}
.header_left:hover .page_title_up {
  color: #f26522;
}
.header_left:hover .page_title_down {
  color: #f26522;
}
.header_left:hover .logo {
  filter: invert(52%) sepia(42%) saturate(5095%) hue-rotate(349deg)
    brightness(99%) contrast(91%);
}
.page_title {
  padding-left: 8px;
}
.page_title_up {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-size: 29px;
  line-height: 32px;
  color: #ffffff;
}
.page_title_down {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.header_right {
  text-align: right;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.mail {
  display: block;
  margin: 0;
  padding-bottom: 19px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.mail:hover {
  color: #f26522;
}
.phone {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.phone:hover {
  color: #f26522;
}
.tour_list {
  margin: 0;
  padding: 22px 0 49px 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 261px);
  column-gap: 61px;
  row-gap: 37px;
}
.image_block {
  width: 300px;
  height: 220px;
  position: relative;
  overflow: hidden;
}
.price_tag {
  width: 100%;
  height: 55px;
  color: #ffffff;
  background-color: #f26522;
  position: absolute;
  bottom: -55px;
  transition-duration: 400ms;
  transition-property: bottom;
  transition-timing-function: ease-out;
}
.list_link:hover .price_tag {
  bottom: 0px;
}
.from {
  font-size: 10px;
  line-height: 10px;
  margin: 0;
  padding: 7px 0 8px 16px;
}
.price_line {
  padding-left: 16px;
  padding-right: 37px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  position: relative;
}
.price {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
.detail {
  font-size: 14px;
  line-height: 14px;
  margin: auto 0 0;
}
.detail::after {
  content: "";
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  position: absolute;
  right: 16px;
  bottom: 3px;
}
.tour_title {
  display: block;
  margin: 0;
  padding-top: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.list_link:hover .tour_title {
  color: #f26522;
}
.copyright {
  margin: 0;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
