@import "./_abstracts/variables";
* {
    box-sizing: border-box;
  }
body{
    margin: 0;
}
  .container {
    margin: 0 auto;
    padding: 0 25px;
    position: relative;
    min-width: 320px;
    max-width: 1200px;
    @media (min-width:$tablet-bp) {
        margin: 0 50px;
        
    }
    @media (min-width:$desktop-bp){
      padding: 0 50px;
        margin: 0 auto;
    }
  }