body {
    text-align: center;
    font-size: 25px;
}
.close{
    font-size: 20px;
    border-radius: 50%;
}
.input_price{
    width: 150px;
    height: 25px;
    font-size: 25px;
    border: 4px solid black;
    border-radius: 10px;
    outline: none;
}
.input_price:focus{
    border: 4px solid;
}