.inactive{
    display: none;
}
$dropMenuBackground: #F5F5F5;
$tablet-bp: 769px;
$desktop-bp: 1200px;

//fonts
$titleFontColor: #4E4E4E;
$colorPostSubtitle: #7C7C7C;
$colorPostText:#5C5C5C;
$colorFooterText:#B9B9B9;